{% load bootstrap4 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>LAW REVIEW</title>

  <!-- Styles -->
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basephoto.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed" rel="stylesheet">
  {% endblock styles %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Transparent to Solid Nav</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Another Link</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </header>

  {% block scripts %}
     <!-- AJAX -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     {% bootstrap_javascript %}
     <script src="{% static 'js/scripts.js' %}"></script>
     <!-- <script>
        function myFunction() {
          var copyText = document.getElementById("link");
          copyText.select();
          document.execCommand("Copy");
          alert("Copied the text: " + copyText.value);
        }
    </script> -->
  {% endblock scripts %}

  </body>

  </html>
